@use '../partials/mixin' as m;
@use '../colors' as c;

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .page-heading {
    padding: 50px 0 50px 0;
    @include m.tablet {
      font-size: 2em;
      padding-bottom: 30px;
    }
    @include m.tablet-landscape {
      font-size: 2em;
      padding-top: 40px
    }

  }
  .projects-gallery {
    display: flex;
    width: 265px;
    justify-content: column;
    align-items: center;
    flex-wrap: wrap;
    @include m.tablet {
      width: 100vw;
      justify-content: space-evenly;
    }
    @include m.tablet-landscape {
      width: 90vw;
      justify-content: space-evenly;
    }
    @include m.laptop {
      width: 90vw;
      justify-content: space-evenly;
    }
    @include m.hi-res {
      width: 65vw;
      justify-content: space-evenly;
    }

    &--item {
      width: 265px;
      height: 480px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      @include m.tablet {
        margin: 30px;
        justify-content: space-evenly;
      }
      @include m.tablet-landscape {
        justify-content: space-evenly;
        padding: 0 20px 40px 20px;
      }
      @include m.laptop {
        padding: 0 50px 40px 50px;
      }
      @include m.hi-res {
        padding: 0 40px 40px 40px;
      }

      &__img {
        height: 176.7px;
        object-fit: cover;
        border: 3px solid c.$tertiary;
        border-radius: 30px;
      }
      &__para {
        margin-top: 3vh;
        font-size: 1em;
      }
      &__links {
        display: flex;
        width: 265px;
        justify-content: space-evenly;
        align-items: center;
        margin: 3vh 0 7vh 0;
        font-size: 30px;
        justify-self: flex-end;
      }
    }
  }
}