main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .page-heading {
    padding: 50px 0 50px 0;
  }
  .projects-gallery {
    display: flex;
    width: 70vw;
    justify-content: column;
    align-items: center;
    flex-wrap: wrap;
    &--item {
      width: 265px;
      display: flex;
      justify-content: column;
      flex-wrap: wrap;
      &__img {
        height: 176.7px;
      }
      &__para {
        margin-top: 3vh;
        font-size: 1em;
      }
      &__links {
        display: flex;
        width: 265px;
        justify-content: space-evenly;
        align-items: center;
        margin: 3vh 0 7vh 0;
        font-size: 30px;
      }
    }
  }
}