@use './colors' as c;
@use './partials/mixin' as m;

* {
  font-family: 'Larsseit', sans-serif;
  background-color: c.$primary;
  color: c.$secondary;
  scroll-behavior: smooth;
  margin: 0;
}

.page-heading {
  font-family: 'AVENTENA', sans-serif;
  font-size: 2em;
}

.external-link {
  text-decoration: none;
  color: c.$tertiary;
  &:hover {
    color: c.$secondary;
    transition: 0.5s;
  }
  &:not(:hover) {
    color: c.$tertiary;
    transition: 0.5s;
  }
}

.home-button {
  height: 50px;
  width: 50px;
  background-color: c.$tertiary;
  z-index: 1;
  left: 30px;
  bottom: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  &:hover {
    background-color: c.$secondary;
    transition: 0.5s;
    i {
      background-color: c.$secondary;
      color: c.$tertiary;
      transition: 0.5s;
    }
  }
  &:not(:hover) {
    background-color: c.$tertiary;
    transition: 0.5s;
    i {
      background-color: c.$tertiary;
      color: c.$secondary;
      transition: 0.5s;
    }
  }
  @include m.home-button-large {
    height: 80px;
    width: 80px;
  }
  i {
    font-size: 30px;
    background-color: c.$tertiary;
    color: c.$secondary;
    @include m.home-button-large {
      font-size: 45px;
    }
  }
}