@use '../colors.scss' as c;
@use '../partials/mixin' as m;


body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include m.tablet {
    justify-content: space-between;
    height: 100vh;
  }
  @include m.tablet-landscape {
    justify-content: space-between;
  }

  .header {
    margin: 20px 20px;
    @include m.tablet {
      margin: 50px 50px;
    }
    @include m.tablet-landscape {
      margin: 50px 0 0 50px;
    }
    &__name {
      color: c.$secondary;
      font-size: 50px;
      font-weight: bold;
      text-align: left;
      @include m.tablet {
        font-size: 80px;
      }
      @include m.tablet-landscape {
        font-size: 70px;
      }
    }
    &__job-title {
      color: c.$secondary;
      font-size: 30px;
      padding-top: 10px;
      @include m.tablet {
        font-size: 40px;
      }
      @include m.tablet-landscape {
        font-size: 40px;
      }
    }
  }

  .image-container {
    margin: 90px 0 80px 0;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include m.tablet {
      height: 300px;
      margin: 0;
      z-index: 0;
      position: fixed;
      left: 21.5vh;
      top: 35vh;
    }
    @include m.tablet-landscape {
      height: 240px;
      margin: 0;
      z-index: 1;
      position: fixed;
      left: 37vw;
      top: 34vh;
    }
    &__image {
      border: 5px solid c.$secondary;
      border-radius: 70%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      @include m.tablet {
        width: 300px;
        height: 300px;
      }
      @include m.tablet-landscape {
        width: 280px;
        height: 280px;
      }
    }
  }

  .navbar-section {
    margin-right: 20px;
    @include m.tablet {
      margin: 40px 40px;
    }
    @include m.tablet-landscape {
      margin: 40px 40px;
    }
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include m.tablet {
        z-index: 0;
        position: fixed;
        left: 47vw;
        top: 69vh;
      }
      @include m.tablet-landscape {
        z-index: -1;
        position: fixed;
        left: 66vw;
        top: 59vh;
      }
      &--link {
        padding: 10px;
        font-size: 50px;
        font-style: italic;
        @include m.tablet {
          font-size: 78px;
        }
        @include m.tablet-landscape {
          font-size: 70px;
        }
        // &:hover {
        //   background-color: c.$secondary;
        //   color: c.$primary;
        //   transform: translate(25px);
        //   transition: 0.6s;
        // }
      }
    }
  }
}
