@use '../partials/mixin' as m;
@use '../colors' as c;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 99.9vw;


  .header {
    position: relative;
    z-index: 0;
    left: 6vw;
    top: 2vh;
    @include m.tablet {
      left: 5vw;
      top: 2vh;
    }
    @include m.tablet-landscape {
      left: 3vw;
      top: 2vh;
    }
    @include m.laptop {
      left: 3vw;
    }
    @include m.hi-res {
      left: 3vw;
    }

    &__name {
      color: c.$secondary;
      font-size: 50px;
      font-family: 'AVENTENA', sans-serif;
      @include m.tablet {
        font-size: 80px;
      }
      @include m.tablet-landscape {
        font-size: 80px;
      }
      @include m.laptop {
        font-size: 90px;
      }
      @include m.hi-res {
        font-size: 95px;
      }
      
    }
    &__job-title {
      color: c.$secondary;
      font-size: 30px;
      padding-top: 20px;
      @include m.tablet {
        font-size: 35px;
      }
      @include m.tablet-landscape {
        font-size: 35px;
      }
      @include m.laptop {
        font-size: 35px;
      }
    }
  }

  .image-container {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
    top: 26vh;
    @include m.tablet {
      top: 24vh;
    }
    @include m.tablet-landscape {
      top: 16vh;
      left: 0vw;
    }
    @include m.laptop {
      top: 18vh;
    }
    @include m.hi-res {
      left: -1vw;
      top: 19vh;
    }
    &__background {
      background: linear-gradient(140deg, c.$secondary, c.$tertiary);
      border-radius: 50%;
      width: 230px;
      height: 230px;
      filter: blur(16px);
      @include m.tablet {
        width: 330px;
        height: 330px;
      }
      @include m.tablet-landscape {
        width: 310px;
        height: 310px;
      }
      @include m.laptop {
        width: 310px;
        height: 310px;
      }
      @include m.hi-res {
        width: 370px;
        height: 370px;
      }
    }
    &__image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      position: absolute;
      @include m.tablet {
        width: 280px;
        height: 280px;
      }
      @include m.tablet-landscape {
        width: 280px;
        height: 280px;
      }
      @include m.laptop {
        width: 280px;
        height: 280px;
      }
      @include m.hi-res {
        width: 340px;
        height: 340px;
      }
    }
  }

  .navbar-section {
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      z-index: 0;
      top: 46vh;
      left: -10vw;
      @include m.tablet {
        left: -8vw;
        top: 45vh;
      }
      @include m.tablet-landscape {
        left: -7vw;
        top: 25vh;
      }
      @include m.laptop {
        top: 29vh;
        left: -5vw;
      }
      @include m.hi-res {
        top: 25vh;
        left: -4vw;
      }
      &--link {
        padding-top: 10px;
        font-size: 50px;
        text-decoration:none;
        color: c.$tertiary;
        font-family: 'AVENTENA', sans-serif;
        &:hover {
          transform: translate(-25px);
          transition: 0.6s;
          color: c.$secondary
        }
        &:not(:hover) {
          transform: translate(25px);
          transition: 0.6s;
          color: c.$tertiary
        }
        @include m.tablet {
          font-size: 78px;
        }
        @include m.tablet-landscape {
          font-size: 70px;
        }
        @include m.laptop {
          font-size: 80px;

        }
        @include m.hi-res {
          font-size: 90px;


        }
      }
    }
  }
}
