/* Error: Undefined mixin.
 *    ,
 * 21 | /   @include m.hi-res {
 * 22 | |     height: 100vh;
 * 23 | |     justify-content: space-between;
 * 24 | \   }
 *    '
 *   home.scss 21:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 21 \2502  \250c    @include m.hi-res {\a 22 \2502  \2502      height: 100vh;\a 23 \2502  \2502      justify-content: space-between;\a 24 \2502  \2514    }\a    \2575 \a   home.scss 21:3  root stylesheet";
}
