@use '../partials/mixin' as m;
@use '../colors' as c;

// change color of border around image to gradient from header color to nav color

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include m.tablet {
    justify-content: space-between;
    height: 100vh;
  }
  @include m.tablet-landscape {
    justify-content: space-between;
  }
  @include m.laptop {
    height: 100vh;
    // justify-content: space-between;
  }
  @include m.hi-res {
    height: 100vh;
    justify-content: space-between;
  }

  .header {
    margin: 20px 20px;
    @include m.tablet {
      position: fixed;
      left: 3vw;
      top: 2vh;
    }
    @include m.tablet-landscape {
      position: fixed;
      left: 2vw;
      top: 2vh;
    }

    &__name {
      color: c.$secondary;
      font-size: 50px;
      font-weight: bold;
      text-align: left;
      font-family: 'AVENTENA', sans-serif;
      @include m.tablet {
        font-size: 80px;
      }
      @include m.tablet-landscape {
        font-size: 70px;
      }
      @include m.laptop {
        font-size: 70px;
      }
      @include m.hi-res {
        font-size: 95px;
      }
    }
    &__job-title {
      color: c.$secondary;
      font-size: 30px;
      padding-top: 10px;
      @include m.tablet {
        font-size: 40px;
      }
      @include m.tablet-landscape {
        font-size: 40px;
      }
    }
  }

  .image-container {
    margin: 90px 0 80px 0;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &__background {
      background: linear-gradient(140deg, c.$secondary, c.$tertiary);
      border-radius: 50%;
      width: 230px;
      height: 230px;
      z-index: -1;
      filter: blur(16px);
      position: absolute;
      @include m.tablet {
        width: 330px;
        height: 330px;
      }
      @include m.tablet-landscape {
        width: 310px;
        height: 310px;
      }
      @include m.laptop {
        width: 310px;
        height: 310px;
      }
      @include m.hi-res {
        width: 370px;
        height: 370px;
      }
    }
    @include m.tablet {
      height: 300px;
      margin: 0;
      z-index: 1;
      position: fixed;
      left: 21.5vh;
      top: 35vh;
    }
    @include m.tablet-landscape {
      height: 240px;
      margin: 0;
      z-index: 1;
      position: fixed;
      left: 37vw;
      top: 35vh;
    }
    @include m.laptop {
      height: 300px;
      z-index: 1;
      position: fixed;
      left: 38vw;
      top: 25vh;
    }
    @include m.hi-res {
      height: 350px;
      z-index: 1;
      position: fixed;
      left: 39vw;
      top: 22vh;
    }
    &__image {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
      z-index: 0;
      @include m.tablet {
        width: 300px;
        height: 300px;
      }
      @include m.tablet-landscape {
        width: 280px;
        height: 280px;
      }
      @include m.laptop {
        width: 280px;
        height: 280px;
      }
      @include m.hi-res {
        width: 340px;
        height: 340px;
      }
    }
  }

  .navbar-section {
    margin-right: 20px;
    &__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @include m.tablet {
        z-index: 0;
        position: fixed;
        left: 47vw;
        top: 69vh;
      }
      @include m.tablet-landscape {
        z-index: -1;
        position: fixed;
        left: 65.5vw;
        top: 58vh;
      }
      &--link {
        padding: 10px;
        font-size: 50px;
        text-decoration:none;
        color: c.$tertiary;
        font-family: 'AVENTENA', sans-serif;
        &:hover {
          transform: translate(-25px);
          transition: 0.6s;
          color: c.$secondary
        }
        &:not(:hover) {
          transform: translate(25px);
          transition: 0.6s;
          color: c.$tertiary
        }
        @include m.tablet {
          font-size: 78px;
        }
        @include m.tablet-landscape {
          font-size: 70px;
        }
        @include m.laptop {
          font-size: 80px;

        }
        @include m.hi-res {
          font-size: 90px;


        }
      }
    }
  }
}
