@use '../partials/colors' as c;
@use '../partials/mixin' as m;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .center-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
    width: 100vw;
    p {
      font-size: 1.3em;
    }
    .contact-links {
      width: 20vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include m.laptop {
        width: 7vw;
      }
      @include m.hi-res {
        width: 2vw;
    }
      &__icon {
        font-size: 65px;
        text-decoration: none;
        color: c.$tertiary;
        background-color: c.$primary;
        margin: 0 30px 0 30px;
        &:hover {
          color: c.$secondary;
          transition: 0.5s;
        }
        &:not(:hover) {
          color: c.$tertiary;
          transition: 0.5s;
        }
      }
    }
  }
}