@use '../partials/mixin' as m;

main {
  .page-heading {
    padding: 80px 0 50px 0;
    @include m.tablet {
      font-size: 2em;
    }
    @include m.tablet-landscape {
      font-size: 2em;
    }
    @include m.laptop {
      font-size: 2em;
    }
    @include m.hi-res {
      font-size: 2em;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .about-content {
    width: 85vw;
    padding: 0;
    &__para {
      margin-bottom: 2vh;
      text-align: left;
      font-size: 1.1em;
      @include m.tablet {
        font-size: 1.2em;
      }
      @include m.tablet-landscape {
        font-size: 1.2em;
      }
      @include m.hi-res {
        margin-left: 15vw;
        margin-right: 15vw;
        
      }
    }
  
  }.known-tech {
    display: flex;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: space-around;
    @include m.tablet {
      width: 70vw
    }
    @include m.tablet-landscape {
      width: 70vw
    }
    &__heading {
    padding-top: 2vh;
    padding-bottom: 3.5vh;
    @include m.tablet {
      font-size: 1.5em;
      padding: 2vh 0 4vh 0;
    }
    @include m.tablet-landscape {
      font-size: 1.5em;
      padding: 3vh 0 6vh 0;
    }
    @include m.laptop {
      font-size: 1.3rem;
      padding: 4vh 0 6vh 0;
    }
    @include m.hi-res {
      font-size: 1.4rem;
      padding: 4vh 0 6vh 0;
    }
    }
    &__container {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      height: 80px;
      width: 70px;
      &--label {
        font-weight: 600;
        font-size: 0.7em;
        @include m.tablet {
          font-size: 1em;
        }
        @include m.tablet-landscape {
          font-size: 1em;
        }
        @include m.laptop {
          font-size: 1.2em;
        }
        @include m.hi-res {
          font-size: 1.2em;
        }
      }
      &--icon {
        font-size: 40px;
        padding-bottom: 1vh;
        @include m.tablet {
          font-size: 50px;;
        }
        @include m.tablet-landscape {
          font-size: 50px;;
        }
        @include m.laptop {
          font-size: 55px;
        }
        @include m.hi-res {
          font-size: 55px;
        }
      }
    }
  }
}  